.container{
    padding: 0 5vw;
    background-color: black;
}

.text{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 5vw;
}

@media(min-height: 1080px){
    .text{
        font-size: 5vw;
    }
}

@media(max-width: 800px){
    .text{
        display: none;
        font-size:32px;
    }
}